<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/holder.js' %}"></script>
    <style>
        .navbar{
            border-radius: 0px;
         }
    </style>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Yolo Shopping</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
             <!-- <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Women</a></li>
                  <li><a href="#">Kids</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header"></li>
                  <li><a href="#">Electronics</a></li>
                  <li><a href="#">Home Appliances</a></li>
                  <li><a href="#">Books</a></li>
                </ul>
              </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;{{request.user}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">My Wishlist</a></li>
                  <li><a href="#">My Orders</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header"></li>
                  <li><a href="#">Notification</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{total_items}}</span></a></li>
            </ul>
              <div class="col-sm-3 col-md-3 right">
        <form class="navbar-form" role="search">
             <div class="input-group">
             <input type="text" class="form-control" placeholder="products,brands and more..." style="width:450px">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>

            </div>
        </form>
        </div>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <br><br>

<div class="container-fluid">
    {% include 'categories.html' %}
    {% block body %}{% endblock %}
</div>
</body>
</html>