{% extends 'base.html' %}
{% block body %}
<div class="col-md-8">
    {% if address %}
    {% for ad in address%}
        <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>{{ad.street}}</h5>
                <h5>{{ad.city}}</h5>
                <h5>{{ad.state}}</h5>
                <h5>{{ad.pincode}}</h5>
                <h5>{{ad.phone}}</h5>
                <button id="add{{ad.pk}}" class="btn btn-sm btn-link btn-default">Change</button>
            </div>
        </div>
        </div>
        </div>
    {% endfor %}
    {% endif %}

    <button id="address" class="btn btn-md btn-primary">Add New Address</button>
</div>

<div id="new" class="col-md-8">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Address:<input name="street" type="text" class="form-control" placeholder="Street/City" value="{{profile.street}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input  name="city" type="text" class="form-control" placeholder="City" value="{{profile.city}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input  name="state" type="text" class="form-control" placeholder="State" value="{{profile.state}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Pincode:<input type="text" name="pincode" class="form-control" value="{{profile.pincode}}">
            </div>
        </div>
    </div>
</div>
{% endblock %}