{% extends 'base.html' %}

{% block body %}
{% if product %}
<div class="col-md-6">
	<div class="alert alert-success">
		{{product}} added successfully
 	</div>
</div>
{% endif %}
<div class="col-md-6 pull-center">
	<div class="panel panel-default">
		<div class="panel-heading">
          <h1 class="panel-title">Add New Product</h1></div>
          <div class="panel-body">
			<form class="form-horizontal" role="form" action="" method = "post">
				{% csrf_token %}
			{% include 'form.html' %}
			</form>
		  </div>

		<p><a href="products/">Click</a> to view product records. </p>
	</div>
</div>

{% endblock %}
