{% load widget_tweaks %}
<div class="col-md-6">

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}
    </div>
  {% endfor %}
    <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Add</button>
</div>