{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="col-md-8">
    <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Summary</h3>
            </div>

            <div class="panel-body">
                {% for item in cart %}
                <div  class="row">
                    {% for key,val in item.items %}
                    <div class="col-md-2">{{val}}</div>
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
                <div>
                <div class="col-md-2"><strong>Total</strong>&nbsp;{{total}}</div>
                </div>
            </div>

        </div>
    </div>
    </div>
    {% if profile %}
    <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title">Shipping Inforamation</div> </div>
            <div class="panel-body">
                <h4>{{user.first_name}}&nbsp;{{user.last_name}}</h4>
                <h5>{{profile.address_one}}</h5>
                <h5>{{profile.address_two}}</h5>
                <h5>{{profile.phone}}</h5>
                <button id="address" class="btn btn-sm  btn-primary pull-left">Change</button>
                <a id="pay1" class="btn btn-primary btn-sm pull-right" role="button" href="{% url 'payment'  profile_id=profile.pk%}">Proceed To Payment</a>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
    <div id="new" class="row">
    <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
        <li id="ship" role="presentation" class=""><a  href="#shipping">Shiping Information</a></li>
    </ul>
        <div class="row" id="shipping">
                &nbsp;<h3>Shipping</h3>
                <div class="col-md-6">
                <div class="modal-body">
              <form role="form" method="post" action="{% url 'make_order' %}">{% csrf_token %}
                  <div class="row">
                 <div class="col-md-6">
                 <div class="form-group">
                  First Name:<input type="text" name="firstname" class="form-control"  value="{{user.first_name}}" disabled>
                </div>
                 </div>
                 <div class="col-md-6">
                 <div class="form-group">
                  Last Name:<input type="text" name="lastname" class="form-control"  value="{{user.last_name}}" disabled>
                </div>
                 </div>
                  </div>
                  <div class="row">
                 <div class="col-md-8">
                 <div class="form-group">
                  Phone:<input type="text" name="phone" class="form-control" placeholder="Phone">
                </div>
                 </div>
                  </div>
                 <div class="row">
                 <div class="col-md-8">
                 <div class="form-group">
                     Address:<textarea  name="addone" class="form-control" placeholder="Street/City" >{{profile.address_one}}</textarea>
                </div>
                 </div>
                 </div>
                 <div class="row">
                 <div class="col-md-8">
                 <div class="form-group">
                     <input type="text" name="addtwo" class="form-control" placeholder="Pincode" value="{{profile.address_two}}">
                </div>
                 </div>
                  </div>
                <div class="row">
                        <div class="form-group">
                            &nbsp;<input type="submit" class="btn btn-sm btn-primary" value="proceed to payment">
                        </div>
                </div>

              </form>
            </div>
                </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}